<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<TITLE>入力確認</TITLE>
</HEAD>
<body bgcolor="#FFFFFF" >
<form action="<!--{$smarty.server.SCRIPT_NAME|escape}-->" method="post">
<input type="hidden" name="mode" value="send" />
<input type="hidden" name="csrf_token" value="<!--{$send.csrf_token|escape}-->" />
<input type="hidden" name="F2M_ID" value="<!--{$send.F2M_ID|escape}-->" />
  <div align="center">
    <table width=500 cellpadding=3 cellspacing=2>
      <tr> 
        <td> 
          <p><font size="4"><font size="5" color="#666666">入力確認</font></font></p>
          <p><font size="2">以下の内容で送信します。<br>
            訂正する場合はブラウザの [戻る] ボタンで戻って再入力してください。</font> </p>
      <tr> 
        <td> 
    </table>
    <table width="500" border="0" cellspacing="1" cellpadding="0">
      <tr> 
        <td bgcolor="#000000"> 
          <table width=500 cellpadding=3 cellspacing=1 border=0>
<!--{foreach from=$form item=f  }-->
				<tr>
					<td bgcolor="#CCCCCC"><!--{$f.fld|escape:html|nl2br}--></td>
					<td bgcolor="#FFFFFF"><!--{$f.val|escape:html|nl2br}--></td>
				</tr>
<!--{/foreach}-->
          </table>
        </td>
      </tr>
    </table>
  </div>
  <p align="center">  
  <p align="center"> 
    <input type="submit" value="送信" name="submit">
<input type="submit"  value="戻る" name="F2M_RET">
  </p>
  <p align="center">　</p>
</form>

</BODY>
</HTML>

